
.wrapper-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    box-sizing: border-box;
}

.items-gallery{
    display: flex;
    gap: 0.4rem;
    perspective: calc(calc(1vw + 1vh) * 35);
}

.item-gallery{
    width: calc(calc(1vw + 1vh) * 3);
    height: calc(calc(1vw + 1vh) * 12);
    border-radius: 7px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
    transition: transform 1.25s cubic-bezier(.1, .7, 0, 1), filter 3s cubic-bezier(.1, .7, 0, 1), width 1.25s cubic-bezier(.1, .7, 0, 1);
    will-change: transform, filter, rotateY, width;
}

.item-gallery::before, .item-gallery::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(calc(1vw + 1vh) * -1);
}

.item-gallery::after{
    left: calc(calc(1vw + 1vh) * -1);
}

.items-gallery .item-gallery:hover{
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * 10));
}

/*Right*/

.items-gallery .item-gallery:hover + *{
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items-gallery .item-gallery:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items-gallery .item-gallery:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items-gallery .item-gallery:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items-gallery .item-gallery:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * 8.5)) rotateY(-35deg);
}

.items-gallery .item-gallery:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * 5.6)) rotateY(-40deg);
}

.items-gallery .item-gallery:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * 2.5)) rotateY(-30deg);
}

.items-gallery .item-gallery:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(calc(1vw + 1vh) * .6)) rotateY(-15deg);
}

.items-gallery .item-gallery:active, .items-gallery .item-gallery:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(calc(1vw + 1vh) * 10));
    margin: 0 .45vw;
}